@*@{
        Html.RenderPartial("AddXJDFPartialView");
    }*@

@{
    ViewData["Title"] = "AddXJDF";
}

<div class="fixed-top border border-top-0" style="margin-top: 75px; background-color: white" id="addXJDFResourceMenu">
    <div class="row">
        <div class="col-sm-9">
            <form class="form-inline">
                <div class="form-group">
                    <div>
                        <label class="checkbox-label">Suggested to Process:</label>
                    </div>
                    <input type="hidden" value="@ViewBag.boolIsPhysical.ToString()" id="boolIsPhysical" />
                    <span class="select ml-2">
                        <select id="intPkProcessSelect" asp-items="@ViewBag.darrXJDFProcess">
                            <option value="All">See All</option>
                        </select>
                    </span>
                    @if ((bool)ViewBag.boolIsPhysical)
                    {
                        <div class="ml-3">
                            <label class="checkbox-label ml-2">Classification:</label>
                        </div>
                        <span class="select ml-2">
                            <select id="strClasificationSelect" asp-items="@ViewBag.Clasification">
                                <option value="All">See All</option>
                            </select>
                        </span>
                    }
                </div>
            </form>
        </div>
        <div class="col-sm-3	">
            <div class="form-group pull-right p-1">
                <a href="" class="btn btn-primary btn-sm float-right" id="resNextStep" hidden>
                    Next <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a type="button" asp-controller="PrintshopResourcesTemplate" asp-action="Index" class="btn btn-secondary btn-sm float-right mr-3">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> Back
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4" id="chkResources">
    @if (
  ViewBag.darrXJDFResource != null &&
  ViewBag.darrXJDFResource.Count > 0
)
    {
        int i = 0;
        foreach (ResourceModel resourceModel in ViewBag.darrXJDFResource)
        {
            i++;
            <div class="col-sm-4 checkbox">
                <div class="custom-control custom-radio">
                    <input type="radio" class="template-radio custom-control-input"
                           data-boolIsPhysical="@resourceModel.boolIsPhysical"
                           data-checkbox-text="@resourceModel.strTypeId"
                           id="resRadio_@i" name="rdoResource" value="@resourceModel.intPk">
                    <label class="custom-control-label" for="resRadio_@i">@resourceModel.strTypeId</label>
                </div>
            </div>
        }
    }
</div>
<div class="fixed-bottom modal-footer" style="background-color: white; margin-bottom: 0">

</div>