<div class="row">
	<div class="col-12 pl-0">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/PrintshopProductTemplate">Products</a></li>
			<li class="breadcrumb-item active">@ViewBag.strTypeId</li>
		</ol>
	</div>
	<div class="col-8">
		<h2>Cost settings</h2>
		<h5>of @ViewBag.strTypeId</h5>
		<h5>
			This optional section is intended to help you document and assign high-level estimates for print production.
			They are cost estimates independent of the cost of the processes or resources involved, e.g. if you want to
			charge for express turnaround times or if you want to consider an extra expense because of an extra tax.
		</h5>
	</div>
	<div class="col-4 pt-2">
		<a href="/PrintshopProductTemplate" class="btn btn-sm btn-primary pull-right">Return to Products</a>
	</div>
</div>
<hr class="greenHrUx" />
<div class="row">
	<div class="alert alert-info alert-dismissible col-9">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p>Odyssey 2.0 offers you the ability to set cost details at three different levels:</p>
		<p>
			1. Products<br />
			2. Process<br />
			3 Resources
		</p>
		<p>
			Neither of them are mandatory, they are meant to help you set your cost with the level
			of detail and precision you want.<br />
			The more levels you use, the more accurate calculations will be. Our advice is to set
			the cost for at least, one of the three levels.
		</p>
	</div>
	<div class="col-12">
		<div class="table-responsive" style="max-height: 50vh">
			<table class="table table-hover">
				<thead>
					<tr class="tr-calculation-header">
						<th>NAME</th>
						<th>ACCOUNT</th>
						<th>COST</th>
						<th>MINIMUM PRODUCTION QUANTITY</th>
						<th>UNITS PER BLOCK</th>
						<th>CONDITION</th>
						<th class="">STATUS</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (CalculationModel cal in (List<CalculationModel>)ViewBag.darrcalBase)
					{
						<tr class="tr-calculation-row" id="row_@cal.intPk">
							<td>@cal.strDescription</td>
							<td>@cal.strAccountName</td>
							<td>$@cal.numnCost.GetValueOrDefault().ToString("n2")</td>
							<td>-</td>
							<td>-</td>
							<td>
								@if (
									cal.boolHasCondition
									)
								{
									<span class="badge badge-success">Yes</span>
								}
							</td>
							<td>
								<div class="checkbox-switch genericSwitch calculationStatus" data-intPkCalculation="@cal.intPk">
									<div class="switch-plate resAvailability" style="width: 120px;">
										<div class="switch @if(cal.boolIsEnable) {<text>on</text>}" id="boolnAreaSwitch">
										</div>
									</div>
									<label>
										@if (cal.boolIsEnable)
										{<text>Enabled</text>}
									else
									{<text>Disabled </text>}
									</label>
								</div>
							</td>
							<td class="dropdown">
								<a class="" href="#" data-toggle="dropdown">
									<i class="fa fa-ellipsis-v pull-right p-1"></i>
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item"
									   href="/Calculation/EditCost?intPk=@ViewBag.intPk&strTypeId=@ViewBag.strTypeId&intPkCost=@cal.intPk">
										<i class="fa fa-edit"></i> Edit
									</a>
									<a class="dropdown-item delete-calculation" id="@cal.intPk" href="#">
										<i class="fa fa-trash"></i> Delete
									</a>
								</div>
							</td>
						</tr>
					}
					@foreach (CalculationModel cal in (List<CalculationModel>)ViewBag.darrcalPerQuantity)
					{
						<tr class="tr-calculation-row" id="row_@cal.intPk">
							<td>@cal.strDescription</td>
							<td>@cal.strAccountName</td>
							<td>$@cal.numnCost.GetValueOrDefault().ToString("n2") per @cal.numnQuantity.GetValueOrDefault() @ViewBag.strTypeId</td>
							<td>@(cal.numnMin ?? 0)</td>
							<td>@(cal.numnBlock ?? 0)</td>
							<td>
								@if (
								   cal.boolHasCondition
								   )
								{
									<span class="badge badge-success">Yes</span>
								}
							</td>
							<td>
								<div class="checkbox-switch genericSwitch calculationStatus" data-intPkCalculation="@cal.intPk">
									<div class="switch-plate resAvailability" style="width: 120px;">
										<div class="switch @if(cal.boolIsEnable) {<text>on</text>}" id="boolnAreaSwitch">
										</div>
									</div>
									<label>
										@if (cal.boolIsEnable)
										{<text>Enabled</text>}
									else
									{<text>Disabled </text>}
									</label>
								</div>
							</td>
							<td class="dropdown">
								<a class="" href="#" data-toggle="dropdown">
									<i class="fa fa-ellipsis-v pull-right p-1"></i>
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item"
									   href="/Calculation/EditCost?intPk=@ViewBag.intPk&strTypeId=@ViewBag.strTypeId&intPkCost=@cal.intPk">
										<i class="fa fa-edit"></i> Edit
									</a>
									<a class="dropdown-item delete-calculation" id="@cal.intPk" href="#">
										<i class="fa fa-trash"></i> Delete
									</a>
								</div>
							</td>
						</tr>
					}
					<tr class="tr-calculation-row">
						<td colspan="7">
							<a href="/Calculation/NewCost?intPk=@ViewBag.intPk&strTypeId=@ViewBag.strTypeId">
								<i class="fa fa-plus-circle"></i> Add new cost calculation
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
