@model Odyssey2Frontend.Models.JobsModel

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered calculationJob">

        <!-- Modal content-->
        <div class="modal-content">
			@* Modal header *@
			<div class="modal-header">
				<h4 class="modal-title">Job Name: <b>@Model.strJobTicket</b></h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			@* Modal body *@
            <div class="modal-body">

                <table class="table" id="jobsTable">
                    <tbody>
                        <tr>
                            <th>Product Name</th>
                            <td class="text-center">@Model.strProductName</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td class="text-center">@Model.strProductCategory</td>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <td class="text-center">@Model.intnQuantity</td>
                        </tr>
                        @foreach (var item in Model.darrattrjson)
                        {
                            <tr>
                                <th>@item.strAttributeName</th>
                                <td class="text-center">@item.strValue</td>
                            </tr>
                        }
                        <tr>
                            <th>COST</th>
                            @if (@Model.numMinCost == @Model.numMaxCost)
                            {
                                <th class="text-center">$@Model.numMinCost</th>
                            }
                            else
                            {
                                <th class="text-center">$@Model.numMinCost - $@Model.numMaxCost</th>
                            }
                        </tr>
                        <tr>
                            <th>PRICE</th>
                            @if (@Model.numMinPrice == @Model.numMaxPrice)
                            {
                                <th class="text-center">$@Model.numMinPrice</th>
                            }
                            else
                            {
                                <th class="text-center">$@Model.numMinPrice - $@Model.numMaxPrice</th>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light text-dark" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>